<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">C R E D I M A X</a>
    </div>
  </nav>

  <!-- aaaaaaaaaaaaaaaaaaaaaaa -->

  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Mis Cuentas</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Operaciones</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Movimientos</a>
          </li>
        </ul>
        <form class="d-flex">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="ingresar">Cerrar Sesion</a>
          </li>
        </form>
      </div>
    </div>
  </nav>
  <p></p>
  <p></p>
  <p></p>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="assets/imgs/nuevacuenta.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Abrir nueva cuenta</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
        <div class="card-footer">
            <a href="ingresar">Haz click aqui</a>
          </div>
      </div>
    </div>
    <!-- intento -->
    <div class="col">
        <div class="card h-100">
          <img src="assets/imgs/operaciones.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Realizar operaciones</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
          <div class="card-footer">
              <a href="espacio/micuenta/operaciones">Click aqui para operaciones</a>
            </div>
        </div>
      </div>
      <!-- intento -->
    <div class="col">
        <div class="card h-100">
          <img src="assets/imgs/movimientos.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Ver mis movimientos</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
          <div class="card-footer">
              <a href="ingresar">Hechar un vistazo</a>
            </div>
        </div>
      </div>
  </div>