<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Quienes Somos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="ingresar">Ingresar</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
  <p></p>
  <p></p>
  <p></p>
<h3>Nueva Cuenta</h3>
<div class="mb-3">
    <label for="idsocioInput" class="form-label">ID SOCIO</label>
    <input type="number" class="form-control" id="idsocioInput" placeholder="Ingrese el ID del propietario" #inputIdsocio>
</div>
<div class="mb-3">
    <label for="tipoInput" class="form-label">Tipo</label>
    <input type="text" class="form-control" id="tipoInput" placeholder="Ingrese el tipo de cuenta" #inputTipo>
</div>
<div class="mb-3">
    <label for="nroctaInput" class="form-label">Nro Cuenta</label>
    <input type="text" class="form-control" id="nroctaInput" placeholder="Ingrese el numero de cuenta" #inputNrocta>
</div>
<div class="mb-3">
    <label for="saldoInput" class="form-label">Saldo</label>
    <input type="number" class="form-control" id="saldoInput" placeholder="Ingrese el saldo" #inputSaldo>
</div>
<hr>

<!-- <a href="cuenta" class="btn btn-primary btn-lg" tabindex="-1" role="button" (click)="crearCuenta(inputIdsocio.value, inputTipo.value, inputNrocta.value, inputSaldo.valueAsNumber">Aceptar</a> -->

