<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Quienes Somos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="ingresar">Ingresar</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav> -->



  <!-- otro -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">C R E D I M A X</a>
    </div>
  </nav>

  <!-- aaaaaaaaaaaaaaaaaaaaaaa -->

  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Bienvenido Socio(a)</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Prestamos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Mis Cuentas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="ingresar">Noticias</a>
          </li>
        </ul>
        <form class="d-flex">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="ingresar">Cerrar Sesion</a>
          </li>
        </form>
      </div>
    </div>
  </nav>
  <p></p>
  <p></p>
  <p></p>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="assets/imgs/prestamo-personal.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Mi prestamo</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
        <div class="card-footer">
            <a href="ingresar">Acceder a mi prestamo</a>
          </div>
      </div>
    </div>
    <!-- intento -->
    <div class="col">
        <div class="card h-100">
          <img src="assets/imgs/cuentabank.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Mi cuenta</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
          <div class="card-footer">
              <a href="espacio/micuenta">Acceder a mi cuenta</a>
            </div>
        </div>
      </div>
      <!-- intento -->
    <div class="col">
        <div class="card h-100">
          <img src="assets/imgs/mibeneficio.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Mis beneficios</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
          <div class="card-footer">
              <a href="ingresar">Acceder a mis beneficios</a>
            </div>
        </div>
      </div>
  </div>