<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Quienes Somos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="ingresar">Ingresar</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<p></p>
<p></p>
<p></p>
<table class="table table-hover">
    <thead class="table-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">NOMBRE</th>
        <th scope="col">APELLIDOS</th>
        <th scope="col">DNI</th>
        <th scope="col">SEXO</th>
        <th scope="col">OCUPACION</th>
        <th scope="col">FECHA NAC.</th>
        <th scope="col">CORREO</th>
        <th scope="col">CELULAR</th>
        <th scope="col">LOGIN</th>
        <th scope="col">CONTRASENA</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let socio of lista">
        <th scope="row">{{ socio.id }}</th>
        <td>{{ socio.nomSocio }}</td>
        <td>{{ socio.apSocio }}</td>
        <td>{{ socio.dni }}</td>
        <td>{{ socio.sexo }}</td>
        <td>{{ socio.ocupacion }}</td>
        <td>{{ socio.fechaNac }}</td>
        <td>{{ socio.correo }}</td>
        <td>{{ socio.celular }}</td>
        <td>{{ socio.login }}</td>
        <td>{{ socio.contrasena }}</td>
        <!-- <td>
          <a class="btn btn-success btn-sm" (click)="borrarSocio(socio.id)">Eliminar</a>
        </td> -->
      </tr>
    </tbody>
  </table>
  <a href="socio/nuevo" class="btn btn-primary btn-lg" tabindex="-1" role="button" >Registrar</a>
  
